[Unit]
Description=AI POWER
After=network.target

[Service]
WorkingDirectory={{ project_dir }}
ExecStart={{ python_interpreter }} {{ project_dir }}/start.py

Restart=always

[Install]
WantedBy=multi-user.target
