[Unit]
Description=AI POWER
After=network.target

[Service]
WorkingDirectory={{ project_dir }}/app
ExecStart={{ python_interpreter }} {{ project_dir }}/app/start.py

Restart=always

[Install]
WantedBy=multi-user.target
